#check1 {
  color: rgb(15, 4, 95);
  font-size: 200%;
  font-family: Arial, Verdana, sans-serif;
  text-align: left;
  text-shadow: 2px 2px;
}

#check2 {
  padding-left: 20px;
}

/* .box {
  font-weight: semi-bold;
  line-weight: 20px;
 } */
#check3 {
  border-bottom: 2px solid black;
}

#check4 {
  height: 200px;
  width: .5;
}

body {
  background-color: rgb(221, 215, 207);
  font-family: "Brush Script MT", cursive;
}